USE [MODELADOR]
/*DROP TABLE [TELA-OBS]
DELETE TELAS
*/



CREATE TABLE [TIPMAQ] (
	[CODIGO] [char](3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL PRIMARY KEY,
	[DESCRIPCION] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USUARIO] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHA] [smalldatetime] NULL DEFAULT GETDATE(),
	[ESTADO] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL  DEFAULT ('A')
) 

CREATE TABLE [MARCATEJ] (
	[CODIGO] [char](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL PRIMARY KEY,
	[DESCRIPCION] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USUARIO] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHA] [smalldatetime] NULL DEFAULT GETDATE(),
	[ESTADO] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL  DEFAULT ('A')
) 

CREATE TABLE [MODMAQ] (
	[CODIGO] [char](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL PRIMARY KEY,
	[DESCRIPCION] [char] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[USUARIO] [char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHA] [smalldatetime] NULL DEFAULT GETDATE(),
	[ESTADO] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL  DEFAULT ('A')
) 

CREATE TABLE [TEJEDORAS](
	[CODIGO]	[char](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL PRIMARY KEY ,
	[TIPO]		[char](3) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL REFERENCES [TIPMAQ](CODIGO),
	[MARCA]		[char](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL REFERENCES [MARCATEJ](CODIGO),
	[MODELO]	[char](4) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL REFERENCES [MODMAQ](CODIGO),
	[GALGA]		[int] NULL,
	[AGUJAS]	[int] NULL,
	[DIAMETRO]	[int] NULL,
	[SISTEMAS]	[int] NULL,
	[ALIMENTA]	[int] NULL,
	[USUARIO]	[char](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECHA]		[smalldatetime] NULL DEFAULT GETDATE(),
	[ESTADO]	[char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL  DEFAULT ('A')
) 






