<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="500" subStatusCode="-1"/>
    </httpErrors>
    <asp>
      <limits bufferingLimit="994194304" maxRequestEntityAllowed="671088640"/>
    </asp>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="1228888" maxQueryString="1228888"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>