USE [MODELADOR]
GO
/****** Object:  StoredProcedure [dbo].[FICHACOTI_HEAD]    Script Date: 12/23/2012 19:01:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =======================================================================
-- Author:		MABEL MOLINA
-- Create date: 23-DIC-2012
-- Description:	Devuelve los campos de cabecera de la Ficha de o/c
-- ALTER Date:	
-- =======================================================================

alter procedure  [dbo].[FICHAOC_HEAD]  
@OC char(10) as

IF @OC = 'AUTO'

	SELECT	'AUTO' AS OC_CNUMORD, '' AS OC_CCODPRO, '' AS OC_CRAZSOC,	'' AS OC_CDIRPRO, 
			'' AS OC_CCOTIZA, '' AS OC_CCODMON, '' AS OC_CFORPA1,	'' AS OC_CFORPA2, 
			'' AS OC_CFORPA3, (Select XMEIMP2 From RSCONCAR..CTCAMB Where  XCODMON='US' AND Convert(datetime,XFECCAM2,103)=Convert(datetime,GETDATE(),103)) AS OC_NTIPCAM, getdate() AS OC_DFECENT,	'' AS OC_NPORDES, 
			'' AS OC_CCARDES, '' AS OC_NIMPUS,  '' AS OC_NIMPMN,	'' AS OC_CSOLICT, 
			'' AS OC_CTIPENV, '' AS OC_CLUGENT, '' AS OC_CLUGFAC,	'' AS OC_CDETENT, 
			'' AS OC_CSITORD, getdate() AS OC_DFECACT, '' AS OC_CHORA,		'' AS OC_CUSUARI, 
			getdate() AS OC_DFECDOC, '' AS OC_CTIPORD, '' AS OC_CRESPER1,	'' AS OC_CRESPER2, 
			'' AS OC_CRESPER3,'' AS OC_CRESCARG1,'' AS OC_CRESCARG2,'' AS OC_CRESCARG3, 
			'' AS OC_CCOPAIS, '' AS OC_CUSEA01, '' AS OC_CUSEA02,	'' AS OC_CUSEA03, 
			getdate() AS OC_DFECR01, getdate() AS OC_DFECR02, getdate() AS OC_DFECR03,	'' AS OC_CREMITE, 
			'' AS OC_CPERATE, '' AS OC_CCONTA1, '' AS OC_CCONTA2,	'' AS OC_CCONTA3, 
			'' AS OC_CNUMFAC, getdate() AS OC_DFECEMB, '' AS OC_CUNIORD,	'' AS OC_CCONVTA, 
			'' AS OC_CCONEMB, '' AS OC_CCONDIC, '' AS OC_CTIPENT,	'' AS OC_CDIAENT, 
			'' AS OC_NFLEINT, '' AS OC_NDOCCHA, '' AS OC_NFLETE,	'' AS OC_NSEGURO, 
			'' AS OC_NIMPFAC, '' AS OC_NIMPFOB, '' AS OC_NIMPCF,	'' AS OC_NIMPCIF, 
			'' AS OC_CNUMREF, '' AS OC_CTIPDSP, '' AS OC_CTIPDOC,	'' AS OC_CALMDES, 
			'' AS OC_CDISTOC, '' AS OC_CPROVOC, '' AS OC_CCOSTOC,	'' AS OC_CDOCPAG, 
			getdate() AS OC_DFECPAG, getdate() AS OC_DFECVEN, '' AS OC_CESTPAG,	'' AS OC_CMONPAG, 
			'' AS OC_NIMPPAG, '' AS OC_CGLOPAG, '' AS OC_CCODSOL, 
			'' AS AC_CVANEXO, '' AS AC_CCODIGO, '' AS AC_CNOMBRE,	'' AS AC_CDIRECC, 
			'' AS AC_CLOCALI, '' AS AC_CPAISAC, '' AS AC_CTELEF1,	'' AS AC_CTELEF2, 
			'' AS AC_CTELEF3, '' AS AC_CFAXACR, '' AS AC_CTIPOAC,	'' AS AC_CGIROAC, 
			'' AS AC_CREPRES, '' AS AC_CCARREP, '' AS AC_CTELREP,	getdate() AS AC_DFECCRE, 
			getdate() AS AC_DFECMOD, '' AS AC_CUSER,   '' AS AC_CESTADO,	'' AS AC_CABREVI, 
			'' AS AC_CRUC,    '' AS AC_CTIPPAG, '' AS AC_CCTAMN,	'' AS AC_CCTAUS, 
			'' AS AC_CCODPOS, '' AS AC_CFORPAG, '' AS AC_CCODSUP,	'' AS AC_CCTAMNC, 
			'' AS AC_CCTAUSC, '' AS AC_CTIPCTA, '' AS AC_CSUCURS,	'' AS AC_CMAXPAG, 
			'' AS AC_CTASDET, '' AS AC_CTASPER, '' AS AC_CEMAIL,	'' AS AC_CCTAUS7, 
			'' AS AC_CCTAMN7, '' AS AC_CTIPDOI, '' AS AC_CNUMDOI,	'' AS AC_CTIPPRO, 
			'' AS AC_CCTAUST, '' AS AC_CCTAMNT, '' AS AV_CPATER,	'' AS AV_CMATERN, 
			'' AS AV_CNOMBRE, '' AS AV_CFORMSU, '' AS AV_CTIPTRA,	'' AS AC_CCTAMNB, 
			'' AS AC_CCTAUSB, '' AS AC_NMESNOR, '' AS AC_NMESURG,	'' AS AC_NDIANOR, 
			'' AS AC_NDIAURG, '' AS AV_CTIPRO2, '' AS AV_CDOCIDE,	'' AS AV_CNUMIDE, 
			'' AS AC_CFORPA1, '' AS AC_CCTAMNK, '' AS AC_CCTAUSK,	'' AS AC_CTIPPRK, 
			'' AS AC_CTIPABK, '' AS AC_CCODOFK, '' AS AC_CTIPPA2,	'' AS AC_CNUMTRA, 
			'' AS AC_CCODBC2, '' AS AC_CNUMCT2, '' AS AC_CNUMUS2,	'' AS AC_CTIPCT2, 
			'' AS AC_DFNACI,  '' AS AC_CSEXO,   '' AS AC_CNACIO,	'' AS AC_CESSAL, 
			'' AS AC_CDOMIC,  '' AS AC_CTIPVIA, '' AS AC_CNVVIA,	'' AS AC_CNUMER, 
			'' AS AC_CINTER,  '' AS AC_CTZONA,  '' AS AC_CNZONA,	'' AS AC_CREFER, 
			'' AS AC_CUBIGU,  '' AS AC_CSITUA,  '' AS AC_CRETE,		'' AS AC_NPORRE, 
			'' AS AC_CCOPAIS, '' AS AC_CTICONV, '' AS AC_CCTADET,	'' AS AC_CFLUPRO, 
			'' AS AC_CVALRUT, '' AS AC_COBSERV, '' AS AC_CFORPG7,	'' AS AC_CTIPCT7, 
			'' AS AC_CCODCI7, '' AS AC_CCTAITB, '' AS AC_CTIPOPG,	'' AS AC_CGRUACR, 
			'' AS AC_CSISTEL, '' AS AC_CCTAITI 
ELSE

	Select * 
	From RSFACCAR..CO0001MOVC 
	LEFT OUTER JOIN RSCONCAR..CP0001MAES on AC_CVANEXO='P' AND AC_CCODIGO=OC_CCODPRO Where OC_CNUMORD=@OC





