USE [MODELADOR]
GO
/****** Object:  StoredProcedure [dbo].[FICHACOTI_HEAD]    Script Date: 08/13/2014 11:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================
-- Author:		MABEL MOLINA
-- Create date: 03-MAY-2011
-- Description:	Devuelve los campos de cabecera de la Ficha de Proto
-- ALTER Date:	17-11-2012 se agrega el campo obs de la cotizacion
--				13-AGO-2014 --> se pasa como parametro el # de cotizacion
-- =======================================================================
ALTER procedure  [dbo].[FICHACOTI_HEAD]  
@pro char(10), 
@ver char(3) ,
@cot char(10) 
as
DECLARE  @n CHAR(4)
IF @cot = ''
	SET @N = 'AUTO'
else 
	set @N = @cot
	SELECT		P1.PROTO AS PRO,			P1.[VERSION] AS VER,		P1.CLIENTE AS CLI, 
				C1.NOMBRE AS NOM,			P1.ESTILO AS EST,       E1.ESTCLI AS ECL, 
				P1.DESCRIPCION AS [DES],	E1.CODARTICULO AS ART,	E1.GENERO AS GEN, 
				G1.DESCRIPCION AS DGEN,		E1.TIPOPRENDA AS TIP,	T3.DESCRIPCION AS TPRE, 
				P1.TELA AS TEL,				T1.DESCRIPCION AS DTEL, P1.TEMPORADA AS TEM, 
				T2.DESCRIPCION AS DTEM,		P1.MOTIVO AS MOT,       P1.ESTADO AS EDO,
				V1.GG,						V1.RT,					V1.RA,
				V1.AT,						V1.AA,					V1.PA,
				P2.SOLICITA AS OBS,			REPLACE(P1.MINCOR,',','.') AS MCOR,		
				REPLACE(P1.MINCOS,',','.') AS MCOS,	REPLACE(P1.MINACA,',','.') AS MACA,			
				REPLACE(P1.MINADI,',','.') AS MADI,	REPLACE(P1.EFICOR,',','.') AS ECOR,
				REPLACE(P1.EFICOS,',','.') AS ECOS,	REPLACE(P1.EFIACA,',','.') AS EACA,		
				REPLACE(P1.EFIADI,',','.') AS EADI,
				CT.SEA, CT.AIR, CT.DHL, isnull(CC.TIPEMB,'') AS EMB, cc.obs as OBSCOT,
				P1.ADICIONAL AS DESADI,     replace(CT.PORCVALPRE,',','.') AS FINPOR,
				COTI	= CASE WHEN @N='AUTO' THEN 'AUTO' ELSE CC.COTIZACION END,  CC.PACK	  AS PKC,
				MINCOR	= ISNULL(P1.MINCOR / NULLIF(P1.EFICOR,0),0) *100 * isnull(CC.VALORMINUTO,ct.VALORMIN),
				MINCOS	= ISNULL(P1.MINCOS / NULLIF(P1.EFICOS,0),0) *100 * isnull(CC.VALORMINUTO,ct.VALORMIN),
				MINACA	= ISNULL(P1.MINACA / NULLIF(P1.EFIACA,0),0) *100 * isnull(CC.VALORMINUTO,ct.VALORMIN),
				MINADI	= ISNULL(P1.MINADI / NULLIF(P1.EFIADI,0),0) *100 * isnull(CC.VALORMINUTO,ct.VALORMIN),
				TCOR	= ISNULL(P1.MINCOR / NULLIF(P1.EFICOR,0),0) *100,
				TCOS	= ISNULL(P1.MINCOs / NULLIF(P1.EFICOs,0),0) *100,
				TACA	= ISNULL(P1.MINACA / NULLIF(P1.EFIACA,0),0) *100,
				TADI	= ISNULL(P1.MINADI / NULLIF(P1.EFIADI,0),0) *100,
				ANCHOT	= ISNULL(CC.ANCHOT, (SELECT ANCHO AS LARGOT FROM [PROTO-DETALLES] 
						  WHERE ID = 0 AND PROTO = @PRO AND VERSION = @VER)),						
				REND	= isnull(CASE	WHEN CC.RENDIMIENTO IS NULL AND T1.RENDABI = 0 THEN T1.RENDTUB
								WHEN CC.RENDIMIENTO IS NULL AND T1.RENDTUB = 0 THEN T1.RENDABI
								ELSE CC.RENDIMIENTO END, 0),
				CC.PACKCAJA AS PKCJ,	
				FINA	= REPLACE(ISNULL(CC.FINANCIA,0), ',','.'),
				ADUA	= REPLACE(ISNULL(cC.ADUANAS,0),  ',','.'),
				CANT	= REPLACE(ISNULL(CC.CANTIDAD,0), ',','.'),
				EFIC	= REPLACE(ISNULL(CC.EFI_TIZADO,0),',','.'),
				CERTI	= REPLACE(isnull(CC.CERTINTEX,0), ',','.'),
				certot  = REPLACE(isnull(CC.CERTINTEX,0)*100, ',','.'),
				OTROS	= REPLACE(ISNULL(CC.OTROS,0),     ',','.'),
				factor1 = REPLACE(ISNULL( CC.FACTOR1, ISNULL(CT.FACTOR1,0)), ',','.'),
				factor2 = REPLACE(ISNULL( CC.FACTOR2, ISNULL(CT.FACTOR2,0)), ',','.'),
				FOB		= REPLACE(isnull(CC.FOB,0), ',','.'),
				OREDEN	= REPLACE(isnull(CC.FOB,0) 	* ISNULL(CC.CANTIDAD,0), ',','.'),
				COMI	= REPLACE(ISNULL(CC.COMISION,0),',','.'),	
				TCAM	= REPLACE(isnull(CC.CAMBIO,0),',','.'),
				COBE	= REPLACE(ISNULL(CC.COBERTURA, ISNULL(CT.COBERTURA,0)),',','.'),
				DRAW	= REPLACE(isnull(CC.DRAWBACK, ISNULL(CT.dback,0)),',','.'),
				DRAWTOT = REPLACE((isnull(CC.DRAWBACK, ISNULL(CT.dback,0)) /100) * isnull(CC.FOB,0) * ISNULL(CC.CANTIDAD,0),',','.'),
				IMPU	= REPLACE(ISNULL(CC.RENTA, ISNULL(CT.RENTA,0)),',','.'),
				MINU	= REPLACE(ISNULL(CC.VALORMINUTO, ISNULL(CT.VALORMIN,0)),',','.'),
				LARGOT	= REPLACE(ISNULL(CC.LARGOT,(SELECT CONSUMO/CANPZA*FACTOR AS LARGOT FROM [PROTO-DETALLES] 
						  WHERE ID = 0 AND PROTO = @PRO AND VERSION = @VER  )),',','.'),
				FECOT	= ISNULL(cc.fecha, getdate()),
				PM2		= T1.PESOACA,
				CONSU	= REPLACE(ISNULL(CC.CONSUMO,0),',','.'),
				FINORD	= REPLACE(nullif((ISNULL(CC.FOB,0) * ISNULL(CC.CANTIDAD,0)*ISNULL(CC.FINANCIA, ISNULL(CT.PorcValPre,0))*(isnull(cc.factoR1,ct.factor1)/isnull(cc.factoR2,ct.factor2))),0),',','.'),
				FINUNI	= REPLACE(nullif((ISNULL(CC.FOB,0) * ISNULL(CC.CANTIDAD,0)*ISNULL(CC.FINANCIA, ISNULL(CT.PorcValPre,0))*(isnull(cc.factoR1,ct.factor1)/isnull(cc.factoR2,ct.factor2)))/nullif(isnull(CC.cantidad,0),0),0),',','.'),
				AVITOT =  isnull((sELECT SUM(COSTO*TOTAL) AS AVIOS FROM [PROTO-DETALLES] 
						  WHERE PROTO = @PRO AND VERSION = @VER AND TIPODETALLE ='AV'),0)
	FROM 
			TB_CTRL AS CT, COTIZACION AS CC 
	  RIGHT OUTER JOIN	 PROTOS		 AS P1 ON CC.PROTO = P1.PROTO AND CC.VERSION = P1.VERSION
			INNER JOIN   [PROTO-OBS] AS P2 ON P1.PROTO = P2.PROTO AND P1.VERSION = P2.VERSION
			INNER JOIN   ESTILOS	 AS E1 ON P1.CLIENTE = E1.CLIENTE AND P1.ESTILO = E1.CODEST 
			INNER JOIN   TELAS		 AS T1 ON P1.TELA = T1.TELA 
			INNER JOIN   TEMPORADAS  AS T2 ON P1.TEMPORADA = T2.CODIGO AND P1.CLIENTE = T2.CLIENTE 
			INNER JOIN   CLIENTE     AS C1 ON E1.CLIENTE = C1.CODIGO AND T2.CLIENTE = C1.CODIGO 
			INNER JOIN   GENEROS     AS G1 ON E1.GENERO = G1.GENERO 
			INNER JOIN   TIPPRENDA   AS T3 ON E1.TIPOPRENDA = T3.TIPO
			INNER JOIN	 VIEW_TELAS  AS V1 ON P1.TELA = V1.TELA
WHERE P1.PROTO = @PRO AND P1.VERSION = @VER  and cc.cotizacion = @cot
      







