set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- =======================================================================
-- Author:		MABEL MOLINA
-- Create date: 03-MAY-2011
-- Description:	Devuelve los campos de cabecera de la Ficha de Proto
-- ALTER Date:	17-11-2012 se agrega el campo obs de la cotizacion
-- =======================================================================

ALTER procedure  [dbo].[FICHACOTI_HEAD]  
@pro char(10), 
@ver char(3) as

DECLARE  @n CHAR(4)

set @n= (select COTIZACION from protos where proto = @PRO and version =@VER)
IF @N IS NULL
SET @N = 'AUTO'

	SELECT		P1.PROTO AS PRO,			P1.VERSION AS VER,		P1.CLIENTE AS CLI, 
				C1.NOMBRE AS NOM,			P1.ESTILO AS EST,       E1.ESTCLI AS ECL, 
				P1.DESCRIPCION AS [DES],	E1.CODARTICULO AS ART,	E1.GENERO AS GEN, 
				G1.DESCRIPCION AS DGEN,		E1.TIPOPRENDA AS TIP,	T3.DESCRIPCION AS TPRE, 
				P1.TELA AS TEL,				T1.DESCRIPCION AS DTEL, P1.TEMPORADA AS TEM, 
				T2.DESCRIPCION AS DTEM,		P1.MOTIVO AS MOT,       P1.ESTADO AS EDO,
				V1.GG,						V1.RT,					V1.RA,
				V1.AT,						V1.AA,					V1.PA,
				P2.SOLICITA AS OBS,			P1.MINCOR AS MCOR,		P1.MINCOS AS MCOS,
				P1.MINACA AS MACA,			P1.MINADI AS MADI,		P1.EFICOR AS ECOR,
				P1.EFICOS AS ECOS,			P1.EFIACA AS EACA,		P1.EFIADI AS EADI,
				P1.ADICIONAL AS DESADI,     CT.PORCVALPRE AS FINPOR,
				COTI = CASE WHEN @N='AUTO' THEN 'AUTO' ELSE CC.COTIZACION END,  CC.PACK	  AS PKC,
				CC.PACKCAJA AS PKCJ,		
				ADUA = ISNULL(cC.ADUANAS,0),
				CC.CANTIDAD AS CANT,		EFIC = ISNULL(CC.EFI_TIZADO,0),	CC.FINANCIA AS FINA,
				CERTI = isnull(CC.CERTINTEX,0),		OTROS = ISNULL(CC.OTROS,0),	
				factor1 = CASE WHEN CC.FACTOR1 IS NULL THEN CT.FACTOR1 ELSE CC.FACTOR1 END ,
				factor2 = CASE WHEN CC.FACTOR2 IS NULL THEN CT.FACTOR2 ELSE CC.FACTOR2 END ,
				FOB = CASE WHEN CC.FOB IS NULL THEN 0 ELSE CC.FOB END,					
				CC.COMISION AS COMI,		TCAM = isnull(CC.CAMBIO,0),		cc.obs as OBSCOT,
				COBE = CASE WHEN CC.COBERTURA IS NULL THEN CT.COBERTURA ELSE CC.COBERTURA END ,
				DRAW = CASE WHEN CC.DRAWBACK IS NULL THEN CT.dback ELSE CC.DRAWBACK END ,
				IMPU = CASE WHEN CC.RENTA IS NULL THEN CT.RENTA ELSE CC.RENTA END ,
				MINU = CASE WHEN CC.VALORMINUTO IS NULL THEN CT.VALORMIN	ELSE CC.VALORMINUTO END,
				CT.SEA, CT.AIR, CT.DHL, CC.TIPEMB AS EMB, LARGOT = ISNULL(CC.LARGOT,0), 
				ANCHOT = CASE WHEN CC.ANCHOT IS NULL AND T1.ANCHTUB = 0 THEN T1.ANCHCRU 
							  WHEN CC.ANCHOT IS NULL AND T1.ANCHCRU = 0 THEN T1.ANCHTUB 
							  ELSE CC.ANCHOT END, 
				REND = CASE WHEN CC.RENDIMIENTO IS NULL AND T1.RENDABI = 0 THEN T1.RENDTUB
							WHEN CC.RENDIMIENTO IS NULL AND T1.RENDTUB = 0 THEN T1.RENDABI
							ELSE CC.RENDIMIENTO END, FECOT = isnull(cc.fecha, getdate()),
				PM2 = T1.PESOACA, CONSU = ISNULL(CC.CONSUMO,0)

				
	FROM 
			TB_CTRL AS CT, COTIZACION AS CC 
	  RIGHT OUTER JOIN	 PROTOS		 AS P1 ON CC.PROTO = P1.PROTO AND CC.VERSION = P1.VERSION
			INNER JOIN   [PROTO-OBS] AS P2 ON P1.PROTO = P2.PROTO AND P1.VERSION = P2.VERSION
			INNER JOIN   ESTILOS	 AS E1 ON P1.CLIENTE = E1.CLIENTE AND P1.ESTILO = E1.CODEST 
			INNER JOIN   TELAS		 AS T1 ON P1.TELA = T1.TELA 
			INNER JOIN   TEMPORADAS  AS T2 ON P1.TEMPORADA = T2.CODIGO AND P1.CLIENTE = T2.CLIENTE 
			INNER JOIN   CLIENTE     AS C1 ON E1.CLIENTE = C1.CODIGO AND T2.CLIENTE = C1.CODIGO 
			INNER JOIN   GENEROS     AS G1 ON E1.GENERO = G1.GENERO 
			INNER JOIN   TIPPRENDA   AS T3 ON E1.TIPOPRENDA = T3.TIPO
			INNER JOIN	 VIEW_TELAS  AS V1 ON P1.TELA = V1.TELA
WHERE P1.PROTO = @PRO AND P1.VERSION = @VER  
      










