SELECT * FROM  [MODELADOR].[dbo].MENU
SELECT * FROM  [MODELADOR].[dbo].SUBMENU WHERE MENU = 10 order by descripcion


-- ASIGNACION DE CCT POR OFI
INSERT INTO [MODELADOR].[dbo].SUBMENU SELECT '10', '2', 'ASIGNA CCT-OFI', 'ASIGNA.asp', NULL, 'A'
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'SISTEMAS',   10,2,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'RBENAVENte', 10,2,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'MHINOJO',    10,2,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'JRAMOS',     10,2,1