USE MODELADOR
CREATE TABLE [DBO].[TIPOSER]
(	[CODIGO] [char](3) NOT NULL PRIMARY KEY,
	[DESCRIPCION] [char](100) NOT NULL,
	[USUARIO] [char](10) not NULL,
	[FECHA] [smalldatetime] NOT NULL DEFAULT GETDATE(),
	[ESTADO] [char](1) NOT NULL DEFAULT 'A'
)

CREATE TABLE [dbo].[SERVICIOS](
	[CODIGO] [char](6) NOT NULL PRIMARY KEY,
	[DESCRIPCION] [char](100) NOT NULL,
	[TIPO] [char](3) NOT NULL,
	[MERMA] [float] NULL,
	[USUARIO] [char](10)NOT NULL,
	[FECHA] [smalldatetime] NOT NULL DEFAULT GETDATE(),
	[ESTADO] [char](1) NOT NULL DEFAULT ('A')
) ON [PRIMARY]

CREATE TABLE [dbo].[TELARUTAHEAD](
	[TELA] [char](6) NOT NULL,
	[VERSION] [char](3)  NOT NULL ,
	[DESCRIPTOR] [char](25) NOT NULL,
	[USUARIO] [char](10)NOT NULL,
	[FECHA] [smalldatetime] NOT NULL DEFAULT GETDATE(),
	[ESTADO] [char](1) NOT NULL DEFAULT ('A'),
CONSTRAINT [PKTELARUTAHEAD] PRIMARY KEY NONCLUSTERED 
(	[TELA] ASC,
	[VERSION] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[TELARUTADETA](
	[TELA] [char](6) NOT NULL,
	[VERSION] [char](3) NOT NULL,
	[SERVICIO] [char](6) NOT NULL REFERENCES [SERVICIOS](CODIGO),
	[OPC] [int] NOT NULL,
 CONSTRAINT [PKTELARUTADETA] PRIMARY KEY NONCLUSTERED 
(	[TELA] ASC,
	[VERSION] ASC,
	[OPC] ASC
)
) ON [PRIMARY]
