USE [MODELADOR]
GO
/****** Object:  StoredProcedure [dbo].[SP_DESPACHO_PARTIDAS_COMBO]    Script Date: 06/11/2018 11:30:29 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================================
-- Author:		Mabel Molina
-- Create date: 30-10-2008
-- Description:	Devuelve las PARTIDAS ASIGNADAS A LOS Combos que tienen
--				partida asignada con colores completos
-- ============================================================================
--DROP PROCEDURE [SP_DESPACHO_PARTIDAS_PO]

ALTER PROCEDURE [dbo].[SP_DESPACHO_PARTIDAS_PO]
	
@cli char(5),
@est char(5),
@tem char(3),
@COM CHAR(200),
@PO  CHAR(25)

AS

set nocount on

BEGIN

SELECT DISTINCT ET.COMBO, ET.UBI, PPO.CCT,  ET.TELA AS TELA, ET.COLPZA, et.QTY, ppo.CANT, et.po, PPO.KGS, cct.partida
INTO #TMP1
FROM     dbo.CCTELA AS CCT 
INNER JOIN			PO_PARTIDA		AS PPO ON CCT.CCT = PPO.CCT 
RIGHT OUTER JOIN	EXPLOSION_TELA	AS ET  ON CCT.TELA + CCT.COLOR + CCT.COMBI = ET.TELA AND PPO.PO = ET.PO AND PPO.ubi = ET.UBI 
LEFT OUTER JOIN		VIEW_POS		AS vp  ON ET.PO = vp.PO
WHERE  (vp.CLI = @cli) AND (vp.CODEST = @est) AND (vp.TEMPORADA = @tem) AND NOT LEFT(ET.TELA,1) = '9' AND REPLACE(ET.PO, ' ','') = REPLACE(@PO, ' ', '')


SELECT DISTINCT ET.COMBO, ET.UBI, PPO.CCT,  ET.TELA AS TELA, ET.COLPZA, et.QTY, ppo.CANT,et.po, PPO.KGS, cct.partida
INTO #TMP2
FROM				CCTELA			AS CCT 
INNER JOIN			PO_PARTIDA		AS PPO ON CCT.CCT = PPO.CCT 
RIGHT OUTER JOIN	EXPLOSION_TELA	AS ET  ON CCT.TELA + CCT.COLOR + CCT.COMBI = ET.TELA AND PPO.PO = ET.PO AND PPO.ubi = ET.UBI 
LEFT OUTER JOIN		VIEW_POS		AS vp  ON ET.PO = vp.PO
WHERE  (vp.CLI = @cli) AND (vp.CODEST = @est) AND (vp.TEMPORADA = @tem) AND NOT LEFT(ET.TELA,1) = '9' AND NOT PPO.CCT IS NULL AND REPLACE(ET.PO, ' ','') = REPLACE(@PO, ' ', '')

select DISTINCT A2.COMBO, A2.UBI, A2.CCT, A2.TELA, A2.COLPZA, A2.QTY, A2.CANT, A2.PO, A2.KGS , a2.partida as partida
INTO #TMP3  
from		#tmp1 AS A1 
INNER JOIN	#TMP2 AS A2 ON A1.COMBO=A2.COMBO AND A1.UBI = A2.UBI AND A1.COLPZA=A2.COLPZA AND A1.CCT = A2.CCT


SELECT DISTINCT * INTO #TMP4 FROM (
SELECT * FROM #TMP3
UNION
SELECT VP.COMBO, VP.UBI, '' AS CCT, VP.TELA, VP.COLPZA, 0 AS QTY0, VP.QTY, VP.PO, A3.KGS, '' as partida
FROM VIEW_EXPLOSION_TELAS AS VP 
INNER JOIN  #TMP3 AS A3 ON A3.PO = VP.PO AND  VP.COMBO = A3.COMBO
WHERE  (vp.CLI = @cli) AND (vp.ESTILO = @est) AND (vp.TEMPORADA = @tem) AND  LEFT(VP.TELA,1) = '9'
)MM


SELECT distinct VP.po ,VP.combo, VP.ubi, VP.colpza, VP.tela, VP.ofi,  VP.qty, sum(kgs) as kgs,
T0,T1,T2,T3,T4,T5,T6,T7,T8,T9, C0,C1,C2,C3,C4,C5,C6,C7,C8,C9, AR_CDESCRI
into #tmp5
FROM  VIEW_EXPLOSION_TELAS AS VP  
INNER JOIN VIEW_PO_DETA_105 as Pp ON VP.PO=PP.PO AND VP.UBI = PP.UBI 
INNER JOIN RSFACCAR..AL0001ARTI AS AR ON VP.TELA COLLATE Modern_Spanish_CI_AS= AR_CCODIGO
WHERE REPLACE(vp.COMBO,' ' , '') = replace(@com, ' ' ,'')
and VP.cli=@cli and VP.temporada = @tem and VP.estilo= @est 
group by VP.combo, VP.ubi, VP.colpza, VP.tela, VP.ofi, VP.po , VP.qty,
T0,T1,T2,T3,T4,T5,T6,T7,T8,T9, C0,C1,C2,C3,C4,C5,C6,C7,C8,C9, AR_CDESCRI
order by VP.po,VP. ofi, VP.combo, VP.ubi, VP.colpza


alter table #tmp5 add chk char(1) 
alter table #tmp5 add partida char(25) 

update #tmp5 set chk = ''
update #tmp5 set partida = ''


declare @cad varchar(300)
declare @con char(200)
declare @par char(25)

SELECT * INTO #TTT FROM #TMP5
set @con = (select top 1 REPLACE(COMBO,' ' , '') as combo from #ttt)
--print @con
select * into #ppp from #tmp4
WHILE EXISTS(select * from #tmp4 where REPLACE(COMBO,' ' , '') =  @con)
	BEGIN
		set @cad = (select top 1 replace(po+combo+convert(varchar(5),ubi)+colpza+tela,' ','') from #tmp4 )		
		update #tmp5  set chk='1' 
		where replace(po+combo+convert(varchar(5),ubi)+colpza+tela,' ','') = @cad
		DELETE #tmp4 where replace(po+combo+convert(varchar(5),ubi)+colpza+tela,' ','') = @cad

		set @cad = (select top 1 replace(po+combo+convert(varchar(5),ubi)+colpza+tela,' ','') from #tmp4)
	END


-- esto es lo que hay en la explosion de telas, hay que poner las cantidades de la po_partida
	select distinct tt.* into #show from #tmp5 as t5
	inner join #ttt as tt on t5.po= tt.po 
	where REPLACE(t5.COMBO,' ' , '') =  @coN and t5.chk = '1' 
	and t5.po not in (Select (D.po) from #tmp5 as d where  REPLACE(COMBO,' ' , '') =  @coN and chk='')
	order by po

select distinct s1.po, s1.combo, s1.tela, s1.colpza, s1.qty, CASE WHEN LEFT(S1.TELA,1) = '9' THEN S1.kgs ELSE p1.KGS END AS KGS,
p1.partida, s1.tela, s1. AR_CDESCRI, t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,
C0 * (CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c0,
C1 * (CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c1,

c2*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c2, 
c3*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c3,
c4*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c4, 
c5*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c5, 
c6*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c6, 
c7*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c7, 
c8*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c8, 
c9*(CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END) AS c9,
CASE WHEN LEFT(S1.TELA,1) = '9' THEN (SELECT CANPZA  FROM [AJUSTE-DETALLES] 
WHERE TIPODETALLE = 'TE' AND LEFT(CODIGO,1) = '9' AND LEFT(CODIGO,6) = LEFT(S1.TELA,6)
AND AJUSTE+[VERSION] = (SELECT PROTO + [VERSION] FROM COTIZACION WHERE COTIZACION = (SELECT COTIZACION FROM POS WHERE PO = s1.PO) ))
ELSE 1 END AS PZS
 
from #ppp  as p1
inner join #show as s1 on  p1.po = s1.po and  REPLACE(p1.COMBO,' ' , '') =  REPLACE(s1.COMBO,' ' , '') and s1.tela = p1.tela
where REPLACE(s1.COMBO,' ' , '') =  @con











DROP TABLE #TMP1
DROP TABLE #TMP2
DROP TABLE #TMP3
DROP TABLE #TMP4
DROP TABLE #TMP5
DROP TABLE #Ttt

END