USE [MODELADOR]
GO
/****** Object:  StoredProcedure [dbo].[SP_PRN_ASIGNA]    Script Date: 29/10/2018 12:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_PRN_ASIGNA] 
@CCT CHAR(10)
AS
SELECT DISTINCT PAR, TEL, DESTELA, RUC, PROVEE, AC.KGS AS KGPARTI, AC.SALDO, AC.CCT,CLI, DESCLI , PP.OFI, PO.KGS AS KGOFI, PO.PO, PO.CANT AS PRENDAS, po.ubi, color
FROM ASIGNA_CCT AS AC
INNER JOIN PO_PARTIDA AS PO ON PO.CCT = AC.CCT
INNER JOIN POS AS PP ON PP.PO = PO.PO
INNER JOIN dbo.[PO-DETA] AS det ON PO.PO = det.PO and PO.ubi = det.ubi
INNER JOIN dbo.EXPLOSION_TELA AS ET ON PO.PO = ET.PO AND PO.ubi = ET.UBI
WHERE PO.cct = @CCT
    
	