INSERT INTO [MODELADOR].[dbo].SUBMENU SELECT '13', '5', 'OC PARCIALES', 'PARCIALES.ASP', NULL, 'A'
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'SISTEMAS', 13,5,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'RBENAVENte', 13,5,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'MHINOJO', 13,5,1

INSERT INTO [MODELADOR].[dbo].SUBMENU SELECT '13', '4', 'OC FINALIZADAS', 'LIQUIDADAS.ASP', NULL, 'A'
  INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'SISTEMAS', 13,4,1
  INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'RBENAVENte', 13,4,1
  INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'MHINOJO', 13,4,1


INSERT INTO [MODELADOR].[dbo].SUBMENU SELECT '13', '6', 'OC LIQUIDADAS', 'LIQUIDADAS.ASP', NULL, 'A'
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'SISTEMAS', 13,6,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'RBENAVENte', 13,6,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'MHINOJO', 13,6,1
update  [MODELADOR].[dbo].[SUBMENU] set descripcion = 'OC FINALIZADAS' WHERE MENU = 13 AND SUBMENU = 4

INSERT INTO [MODELADOR].[dbo].SUBMENU SELECT '13', '7', 'REIMPRESIONES', 'REIMPRESIONES.ASP', NULL, 'A'
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'SISTEMAS', 13,7,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'RBENAVENte', 13,7,1
INSERT INTO [MODELADOR].[dbo].[USR-OPC] SELECT 'MHINOJO', 13,7,1



update  [MODELADOR].[dbo].[SUBMENU] set descripcion = 'OC FINALIZADAS' WHERE MENU = 13 AND SUBMENU = 4



SELECT * FROM MENU
SELECT * FROM SUBMENU WHERE MENU = 13