USE [MODELADOR]
GO
/****** Object:  View [dbo].[VIEW_POS]    Script Date: 12/09/2012 12:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_OFIS]
AS
SELECT     OO.CODIGO AS OFI, PP.CLIENTE AS CLI, CL.NOMBRE AS NOM, ES.FOTO AS FOT, ES.CONTENIDO AS CON, PP.ESTADO AS EDO, PR.ESTILO AS CODEST, 
                      OO.CANTIDAD AS CANT
FROM         dbo.POS AS PP INNER JOIN
                      dbo.COTIZACION AS CC ON PP.COTIZACION = CC.COTIZACION INNER JOIN
                      dbo.PROTOS AS PR ON CC.PROTO = PR.PROTO AND CC.VERSION = PR.VERSION INNER JOIN
                      dbo.OFIS AS OO ON PP.OFI = OO.CODIGO INNER JOIN
                      dbo.CLIENTE AS CL ON OO.CLIENTE = CL.CODIGO INNER JOIN
                      dbo.ESTILOS AS ES ON OO.CLIENTE = ES.CLIENTE AND OO.CODEST = ES.CODEST