USE MODELADOR
GO

CREATE VIEW VIEW_PO_DETA_105
AS
SELECT VP.OFI, VP.PO, VP.CLI, VP.NOM, PD.COLOR, PD.UBI, CC.COBERTURA, 
	CEILING(PD.CAN0 * dbo.PORCENTAJE(CC.COBERTURA)) AS C0, 
    CEILING(PD.CAN1 * dbo.PORCENTAJE(CC.COBERTURA)) AS C1, CEILING(PD.CAN2 * dbo.PORCENTAJE(CC.COBERTURA)) AS C2, 
    CEILING(PD.CAN3 * dbo.PORCENTAJE(CC.COBERTURA)) AS C3, CEILING(PD.CAN4 * dbo.PORCENTAJE(CC.COBERTURA)) AS C4, 
    CEILING(PD.CAN5 * dbo.PORCENTAJE(CC.COBERTURA)) AS C5, CEILING(PD.CAN6 * dbo.PORCENTAJE(CC.COBERTURA)) AS C6, 
    CEILING(PD.CAN7 * dbo.PORCENTAJE(CC.COBERTURA)) AS C7, CEILING(PD.CAN8 * dbo.PORCENTAJE(CC.COBERTURA)) AS C8, 
    CEILING(PD.CAN9 * dbo.PORCENTAJE(CC.COBERTURA)) AS C9, 
	PD.T0, PD.T1, PD.T2, PD.T3, PD.T4, PD.T5, PD.T6, PD.T7, PD.T8, PD.T9, 
	VP.CODEST, VP.ESTCLI, VP.TEMPORADA, VP.DESTEM
FROM     dbo.VIEW_POS AS VP INNER JOIN
                  dbo.[PO-DETA] AS PD ON VP.PO = PD.PO INNER JOIN
                  dbo.COTIZACION AS CC ON VP.COTI = CC.COTIZACION

