USE [DBPROD]
GO
/****** Object:  StoredProcedure [dbo].[sp_Graba_ManCorte_Det]    Script Date: 05/02/2017 09:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Alex Peña Vargas>
-- Create date: <23/03/2017>
-- Description:	<Graba >
-- =============================================
ALTER PROCEDURE [dbo].[sp_Graba_ManCorte_Det] 
--PRODETCOR
--CD_CNROCORTE+"|"+CD_CSECUEN+"|"+CD_CARTICULO+"|"+CD_CTALLA+"|"+CD_ORIGEN+"|"+CD_NCANT+"|"+
--CD_GRUPO+"|"+CD_NINI+"|"+CD_NFIN

@CD_CNROCORTE VARCHAR(8),
@CD_CSECUEN VARCHAR(3), 
@CD_CARTICULO VARCHAR(15), 
@CD_CTALLA VARCHAR(4), 
@CD_ORIGEN NUMERIC(5),
@CD_NCANT NUMERIC(5),
@CD_GRUPO  NUMERIC(5), 
@CD_NINI  NUMERIC(5), 
@CD_NFIN NUMERIC(5) 
--@CD_NORDEN NUMERIC(5)
--PROPARCOR
--@CD_CNROOFI VARCHAR(8),
--@CD_CNROCORTE VARCHAR(8),
--@CD_CSECUEN VARCHAR(3), 
--@CD_CARTICULO VARCHAR(15), 
--@CD_CTALLA VARCHAR(4), 
--@CD_CCOLOR VARCHAR(30), 
--@CD_NCANT NUMERIC(5), 
--@CD_NINI NUMERIC(5),  
--@CD_NFIN NUMERIC(5),  
--@CD_NORDEN NUMERIC(5)
    
AS
BEGIN

	SET NOCOUNT ON;
    /**************Tabla PRODETCOR***************/
    IF (EXISTS(SELECT CD_CNROOFI FROM PRODETCOR WHERE CD_CNROCORTE=@CD_CNROCORTE AND
				CD_CARTICULO=@CD_CARTICULO AND CD_CTALLA=@CD_CTALLA))
		BEGIN
			UPDATE PRODETCOR SET CD_CSECUEN = @CD_CSECUEN,  
			CD_NCANT = @CD_NCANT, CD_NINI = @CD_NINI, CD_NFIN = @CD_NFIN --,CD_NORDEN = @CD_NORDEN 
			WHERE CD_CNROCORTE=@CD_CNROCORTE
				AND CD_CARTICULO=@CD_CARTICULO AND CD_CTALLA=@CD_CTALLA
		END
	/*ELSE
		BEGIN
			INSERT INTO PRODETCOR(CD_CNROOFI,CD_CNROCORTE,CD_CSECUEN, CD_CARTICULO, CD_CTALLA, CD_CCODCOL, CD_CCOLOR, 
			CD_NCANT, CD_NINI, CD_NFIN,CD_NORDEN) 
			VALUES (@CD_CNROOFI,@CD_CNROCORTE,@CD_CSECUEN, @CD_CARTICULO, @CD_CTALLA, @CD_CCODCOL, @CD_CCOLOR, 
			@CD_NCANT, @CD_NINI, @CD_NFIN, @CD_NORDEN)
		END*/
    /**************Tabla PROPARCOR***************/
    IF (EXISTS(SELECT CD_CNROOFI FROM PROPARCOR WHERE CD_CNROCORTE=@CD_CNROCORTE AND
				CD_CARTICULO=@CD_CARTICULO AND CD_CTALLA=@CD_CTALLA))
		BEGIN
			UPDATE PROPARCOR
			SET CD_CSECUEN = @CD_CSECUEN, CD_NCANT = @CD_NCANT, CD_NINI = @CD_NINI, CD_NFIN = @CD_NFIN
			--,CD_NORDEN = @CD_NORDEN 			
			WHERE CD_CNROCORTE=@CD_CNROCORTE
			AND CD_CARTICULO=@CD_CARTICULO AND CD_CTALLA=@CD_CTALLA
		END
	/*ELSE
		BEGIN
		    INSERT INTO PROPARCOR(CD_CNROOFI,CD_CNROCORTE,CD_CSECUEN, CD_CARTICULO, CD_CTALLA, CD_CCODCOL, CD_CCOLOR, CD_NCANT, CD_NINI, CD_NFIN,CD_NORDEN) 
			VALUES (@CD_CNROOFI,@CD_CNROCORTE,@CD_CSECUEN, @CD_CARTICULO, @CD_CTALLA, @CD_CCODCOL, @CD_CCOLOR, @CD_NCANT, @CD_NINI, @CD_NFIN, @CD_NORDEN)
		END*/
END

